@import '../../styles/fonts';
@import '../../styles/colors';
@import '../../styles/sizes';

.button {
  background-color: transparentize($primary, 0.3);
  border: $px1 solid transparentize($background-main-menu, 0.5);
  border-radius: $px1*3;
  box-shadow:
    0 0.06em 0.06em transparentize($shadow, 0.3), /* Exterior Shadow */
    inset 0 0.01em transparentize($glass, 0.3), /* Top light Line */
    inset 0 0.06em 0.6em transparentize($glass, 0.3), /* Sides Light Shadow */
    inset 0 -0.2em 1em transparentize($shadow, 0.3); /* Dark Background */
  color: $font-color-main-menu;
  font-size: 1.3em;
  font-weight: bold;
  margin: 0.7em;
  padding: 0.5em;
  text-align: center;
  text-shadow: /* Simulating Text Stroke */
    -$px1 -$px1 0 $shadow,
    $px1 -$px1 0 $shadow,
    -$px1 $px1 0 $shadow,
    $px1 $px1 0 $shadow;
  text-transform: capitalize;
  transition: all 0.3s ease;
}

.button:hover {
  background-color: $primary;
  color: $glass;
}

.small {

}

.big {

}
