@import '../../../../styles/fonts.module';
@import '../../../../styles/colors.module';
@import '../../../../styles/sizes.module';

.defaultColor {
  color: var(--item-color-common);
}

.text {
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
}
