@import '../../styles/fonts.module.css';
@import '../../styles/colors.module.css';
@import '../../styles/sizes.module.css';

.corner {
  background-color: var(--primary);
  border: 0.12em solid var(--primary);
  box-shadow: 0 0 0 0.16em var(--font-color-main-shadow) inset;
  height: var(--size-of-corner);
  position: absolute;
  transform: rotate(45deg);
  width: var(--size-of-corner);
}

.wrapper {
  z-index: 999;
}

.inner {
  background: var(--background-main-menu-transparent);
  border: 0.2em ridge var(--primary-20p);
  box-shadow: inset 0 0 calc(var(--size-of-shadow-main-menu) / 5)
    calc(var(--size-of-shadow-main-menu) / 5) rgba(255, 255, 255, 0.75);
  pointer-events: all;
  position: relative;
}

.frame {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}

.cornerLeftTop {
  left: calc(-1 * var(--size-of-half-corner));
  top: calc(-1 * var(--size-of-half-corner));
}

.cornerRightTop {
  right: calc(-1 * var(--size-of-half-corner));
  top: calc(-1 * var(--size-of-half-corner));
}

.cornerLeftBottom {
  bottom: calc(-1 * var(--size-of-half-corner));
  left: calc(-1 * var(--size-of-half-corner));
}

.cornerRightBottom {
  bottom: calc(-1 * var(--size-of-half-corner));
  right: calc(-1 * var(--size-of-half-corner));
}

.label {
  background: var(--background-main-menu-transparent);
  border: calc(var(--px1) * 3) ridge var(--primary-80p);
  border-radius: 0.2em;
  color: var(--font-color-main-menu);
  font-size: 1.1em;
  left: 50%;
  padding: 0.3em 1em;
  position: absolute;
  transform: translate(-50%, -50%);
  user-select: none;
}
