@import '../../styles/fonts';
@import '../../styles/colors';
@import '../../styles/sizes';

%corner {
  background-color: mix($glass, $primary, 40%);
  border: 0.12em solid mix($font-color-main-shadow, $primary, 55%);
  box-shadow: 0 0 0 0.16em transparentize($font-color-main-shadow, 0.1) inset;
  height: $size-of-corner;
  position: absolute;
  transform: rotate(45deg);
  width: $size-of-corner;
}

.wrapper {
  @extend %alignment;
}

.inner {
  background: transparentize($background-main-menu, 0.1);
  border: 0.2em ridge transparentize($primary, 0.85);
  box-shadow: inset 0 0 $size-of-shadow-main-menu/5 $size-of-shadow-main-menu/5 transparentize($glass, 0.75);
  pointer-events: all;
  position: relative;
}

.frame {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}

.cornerLeftTop {
  @extend %corner;
  left: -$size-of-half-corner;
  top: -$size-of-half-corner;
}

.cornerRightTop {
  @extend %corner;
  right: -$size-of-half-corner;
  top: -$size-of-half-corner;
}

.cornerLeftBottom {
  @extend %corner;
  bottom: -$size-of-half-corner;
  left: -$size-of-half-corner;
}

.cornerRightBottom {
  @extend %corner;
  bottom: -$size-of-half-corner;
  right: -$size-of-half-corner;
}

.label {
  @extend %font-main;
  background: transparentize($background-main-menu, 0.01);
  border: $px1*3 ridge transparentize($primary, 0.3);
  border-radius: 0.2em;
  color: $font-color-main-menu;
  font-size: 1.1em;
  left: 50%;
  padding: 0.3em 1em;
  position: absolute;
  transform: translate(-50%, -50%);
  user-select: none;
}
