{
	"presets": ["babel-preset-flow",
    ["env", {
      "targets": {
        "browsers": ["> 3%", "not ie <= 11"]
      },
      "useBuiltIns": {
        "polyfill": false,
        "regenerator": false,
      }
    }]
  ],
	"plugins": [
    "transform-do-expressions",
    "transform-react-jsx",
    "transform-class-properties",
    "babel-plugin-transform-decorators-legacy",
    "transform-object-rest-spread"
  ],
	"only": [".**", "!/node_modules/**"]
}
