@import '../../styles/fonts.module.css';
@import '../../styles/colors.module.css';
@import '../../styles/sizes.module.css';

:root {
  --track-color: transparent;
  --thumb-color: var(--primary);
  --radius: 0.1em;
  --border-width: 0.1em;

  --track-radius: var(--radius);
  --track-width: 100%;
  --track-height: 0.5em;
  --track-border-width: var(--border-width);
  --track-border-color: var(--primary);

  --thumb-radius: var(--radius);
  --thumb-height: calc(var(--track-height) * 4);
  --thumb-width: calc(var(--thumb-height) * 0.5);
  --thumb-border-width: var(--border-width);
  --thumb-border-color: var(--primary);
}

.inputRange {
  appearance: none;
  background: transparent;
  margin: calc(var(--thumb-height) / 2) 0;
  width: var(--track-width);

  &::-moz-focus-outer {
    border: 0;
  }

  &:focus {
    outline: 0;
  }

  &::-webkit-slider-runnable-track {
    cursor: default;
    height: var(--track-height);
    transition: all 0.2s ease;
    width: var(--track-width);

    background: var(--track-color);
    border: var(--track-border-width) solid var(--track-border-color);
    border-radius: var(--track-radius);
  }

  &::-webkit-slider-thumb {
    background: linear-gradient(var(--primary) 60%, transparent 40%);
    background-color: rgb(0, 0, 0);
    background-size: 1em 0.55em;
    border: var(--thumb-border-width) solid var(--thumb-border-color);
    border-radius: var(--thumb-radius);
    border-width: var(--thumb-border-width) 0.15em;
    cursor: default;
    height: var(--thumb-height);
    width: var(--thumb-width);

    appearance: none;
    margin-top: calc(
      calc(calc(-2 * var(--track-border-width)) + calc(var(--track-height) / 2)) -
        calc(var(--thumb-height) / 2)
    );
  }

  &::-moz-range-track {
    cursor: default;
    height: var(--track-height);
    transition: all 0.2s ease;
    width: var(--track-width);

    background: var(--track-color);
    border: var(--track-border-width) solid var(--track-border-color);
    border-radius: var(--track-radius);
    height: calc(var(--track-height) / 2);
  }

  &::-moz-range-thumb {
    background: linear-gradient(var(--primary) 60%, transparent 40%);
    background-color: rgb(0, 0, 0);
    background-size: 1em 0.55em;
    border: var(--thumb-border-width) solid var(--thumb-border-color);
    border-radius: var(--thumb-radius);
    border-width: var(--thumb-border-width) 0.15em;
    cursor: default;
    height: var(--thumb-height);
    width: var(--thumb-width);
  }
}

.valueLabel {
  color: var(--secondary);
}

.valueDescript {
  flex: 1 0 10%;
  margin-left: 1em;
  user-select: none;
}

.formInputRange {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
