@import '../../styles/fonts';
@import '../../styles/colors';
@import '../../styles/sizes';


$track-color: transparent !default;
$thumb-color: $primary !default;
$radius: 0.1em !default;
$border-width: 0.1em !default;

$track-radius: $radius;
$track-width: 100% !default;
$track-height: 0.5em !default;
$track-border-width: $border-width;
$track-border-color: lighten($primary, 0.9) !default;

$thumb-radius: $radius;
$thumb-height: $track-height * 4;
$thumb-width: $thumb-height * 0.5;
$thumb-border-width: $border-width;
$thumb-border-color: $primary !default;

@mixin track {
  cursor: default;
  height: $track-height;
  transition: all 0.2s ease;
  width: $track-width;
}

@mixin thumb {
  background: linear-gradient($primary 60%, transparent 40%);
  background-color: rgb(0, 0, 0);
  background-size: 1em 0.55em;
  border: $thumb-border-width solid $thumb-border-color;
  border-radius: $thumb-radius;
  border-width: $thumb-border-width 0.15em;
  cursor: default;
  height: $thumb-height;
  width: $thumb-width;
}

.inputRange {
  appearance: none;
  background: transparent;
  margin: $thumb-height / 2 0;
  width: $track-width;

  &::-moz-focus-outer {
    border: 0;
  }

  &:focus {
    outline: 0;
  }

  &::-webkit-slider-runnable-track {
    @include track;
    background: $track-color;
    border: $track-border-width solid $track-border-color;
    border-radius: $track-radius;
  }

  &::-webkit-slider-thumb {
    @include thumb;
    appearance: none;
    margin-top: ((-$track-border-width * 2 + $track-height) / 2 - $thumb-height / 2);
  }

  &::-moz-range-track {
    @include track;
    background: $track-color;
    border: $track-border-width solid $track-border-color;
    border-radius: $track-radius;
    height: $track-height / 2;
  }

  &::-moz-range-thumb {
    @include thumb;
  }
}

.valueLabel {
  color: $secondary;
}

.valueDescript {
  flex: 1 0 10%;
  margin-left: 1em;
  user-select: none;
}

.formInputRange {
  @extend %flex-row;
  align-items: center;
  justify-content: center;
}

