<div id="inventory"  ng-controller="inventory">
	<div class="button" ng-click="toggle()"></div>
	<div class="inventory-container" ng-show="opened">
		<div class="close-form-button"></div>
		<h2>inventory {{player.name}}</h2>
		<ul class="main-slots">
			<li ng-repeat="slot in bags[0].slots track by $index"  sw-droppable="true" sw-droppable-ondrop="onDrop" ng-class="slot.rarity || 'common'" sw-item-tooltip="slot">
				<div class="item" sw-draggable="slot" sw-draggable-ondrop="moveItem()" ng-style="slot?{'background-image': 'url('+slot.icon+')'}:{'background-image': 'none'}">
					<span>{{slot.count}}</span>
				</div>
			</li>
		</ul>
	</div>
</div>
<!-- <div id="inventory"  ng-controller="inventory">
	<div class="button" ng-click="toggle()"></div>
	<div class="inventory-container" ng-show="opened">
		<div class="close-form-button"></div>
		<h2>inventory {{player.name}}</h2>
		<ul class="main-slots">
			<li ng-repeat="slot in bags[0].slots track by $index"   ng-class="slot.rarity || 'common'">
				<div class="item" ng-style="slot?{'background-image': 'url('+slot.icon+')'}:{'background-image': 'none'}" sw-item-tooltip="slot" sw-item-tooltip="slot">
					<span>{{slot.count}}</span>
				</div>
				<div class="overlay" sw-draggable="slot" sw-draggable-ondrop="moveItem()" sw-droppable="true" sw-droppable-ondrop="onDrop">

				</div>
			</li>
		</ul>
	</div>
</div> -->
