@import '../../styles/fonts.module.css';
@import '../../styles/colors.module.css';
@import '../../styles/sizes.module.css';

.volumes {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  grid-area: mainContent;
  grid-row: auto / span 3;
  justify-content: space-around;
  padding: 0 0.5em;
}

.labelSelect {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.5em 0;
  user-select: none;
}
