@import '../../styles/fonts.module';
@import '../../styles/sizes.module';

.content {
  grid-area: mainContent;
  grid-row: auto / span 3;
}

.cbEnSound,
.inputVolume {
  padding-left: 0.5em;
}

.volumes {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90%;
  justify-content: space-evenly;
}

.labelVolume {
  padding: 0.3em 0;
  user-select: none;
}
