@import '../../styles/fonts';
@import '../../styles/colors';
@import '../../styles/sizes';

%flex {
  @extend %flex-column;
  justify-content: space-between;
}

.inner {
  @extend %grid-main-menu;
}

.content {
  grid-area: mainContent;
  grid-row: auto / span 3;
}

.cbEnSound,
.inputVolume {
  padding-left: 0.5em;
}

.volumes {
  @extend %flex;
  height: 90%;
  justify-content: space-evenly;
}

.labelVolume {
  padding: 0.3em 0;
  user-select: none;
}

.footerButtons {
  @extend %footer-flex;
  grid-area: footer;
}

.footerButtons > * {
  @extend %footer-buttons;
}

.footerButtons > .label {
  @extend %footer-buttons-label;
}


