@import '../../styles/fonts';
@import '../../styles/colors';
@import '../../styles/sizes';

%pagination-arrow {
  font-size: $size-pagination-arrow;
  font-weight: bold;
}

.mainPanelSection {
  @extend %flex-row;
  cursor: default;
  justify-content: center;
}

.mainPanel {
  @extend %flex-row;
  @extend %inventory;
  border: 0.1em ridge $primary-20p;
  border-radius: $size-of-shadow $size-of-shadow 0 0;
  bottom: 0;
  margin: 0 auto;
  overflow: visible;
  padding: 0.3em;
  pointer-events: all;
  position: fixed;
}

.itemsContainer {
  @extend %flex-row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.pagination {
  @extend %flex-row;
  height: $size-pagination;
  margin: auto;
  width: $size-pagination / 1.3;
}

.paginationControl {
  @extend %flex-column;
  height: 100%;
  margin: auto;
  text-align: center;
  width: 60%;
}

.paginationUp {
  @extend %alignment-text-in-div;
  height: 50%;
}

.paginationUp::after {
  @extend %pagination-arrow;
  content: $arrow-up;
}

.paginationUp:hover::after {
  font-size: $size-pagination-arrow * 1.2;
}

.paginationUp:active::after {
  font-size: $size-pagination-arrow;
}

.paginationDown {
  @extend %alignment-text-in-div;
  height: 50%;
}

.paginationDown::after {
  @extend %pagination-arrow;
  content: $arrow-down;
}

.paginationDown:hover::after {
  font-size: $size-pagination-arrow * 1.2;
}

.paginationDown:active::after {
  font-size: $size-pagination-arrow;
}

.paginationPage {
  @extend %font-main;
  @extend %alignment-text-in-div;
  border-bottom: $border-pagination-page;
  border-radius: 5em/2em;
  border-top: $border-pagination-page;
  height: 50%;
  margin: auto;
  user-select: none;
  width: 40%;
}
