@import '../../styles/fonts';
@import '../../styles/colors';
@import '../../styles/sizes';

%pagination-arrow {
  font-size: $size-pagination-arrow;
  font-weight: bold;
}

.mainPanelSection {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.mainPanel {
  background: transparentize($primary, 0.15);
  border: 0.1em ridge transparentize($primary, 0.75);
  border-radius: $size-of-shadow $size-of-shadow 0 0;
  bottom: 0;
  box-shadow:
    inset 0 0 $size-of-shadow transparentize($glass, 0.75),
    inset 0 $size-of-shadow $size-of-shadow transparentize($glass, 0.75);
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  overflow: visible;
  padding: 0.3em;
  pointer-events: all;
  position: fixed;
}

.itemsContainer {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.pagination {
  display: flex;
  flex-direction: row;
  height: $size-pagination;
  margin: auto;
  width: $size-pagination / 1.3;
}

.paginationControl {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: auto;
  text-align: center;
  width: 60%;
}

.paginationUp {
  align-items: center;
  display: flex;
  height: 50%;
  justify-content: center;
}

.paginationUp::after {
  @extend %pagination-arrow;
  content: $arrow-up;
}

.paginationUp:hover::after {
  font-size: $size-pagination-arrow * 1.2;
}

.paginationDown {
  align-items: center;
  display: flex;
  height: 50%;
  justify-content: center;
}

.paginationDown::after {
  @extend %pagination-arrow;
  content: $arrow-down;
}

.paginationDown:hover::after {
  font-size: $size-pagination-arrow * 1.2;
}

.paginationPage {
  @extend %font-main;
  align-items: center;
  border-bottom: $border-pagination-page;
  border-radius: 5em/2em;
  border-top: $border-pagination-page;
  display: flex;
  height: 50%;
  justify-content: center;
  margin: auto;
  width: 40%;
}
