@import '../../styles/fonts.module';
@import '../../styles/colors.module';
@import '../../styles/sizes.module';

.mainPanelSection {
  display: flex;
  flex-direction: row;
  cursor: default;
  justify-content: center;
}

.mainPanel {
  background: var(--primary);
  box-shadow: inset 0 0 var(--size-of-shadow) rgba(255, 255, 255, 0.75),
    inset 0 var(--size-of-shadow) var(--size-of-shadow) rgba(255, 255, 255, 0.75);
  display: flex;
  flex-direction: row;

  border: 0.1em ridge var(--primary-20p);
  border-radius: var(--size-of-shadow) var(--size-of-shadow) 0 0;
  bottom: 0;
  margin: 0 auto;
  overflow: visible;
  padding: 0.3em;
  pointer-events: all;
  position: fixed;
}

.itemsContainer {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.pagination {
  display: flex;
  flex-direction: row;
  height: var(--size-pagination);
  margin: auto;
  width: calc(var(--size-pagination) / 1.3);
}

.paginationControl {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: auto;
  text-align: center;
  width: 60%;
}

.paginationUp {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 50%;
}

.paginationUp::after {
  font-size: var(--size-pagination-arrow);
  font-weight: bold;
  content: var(--arrow-up);
}

.paginationUp:hover::after {
  font-size: calc(var(--size-pagination-arrow) * 1.2);
}

.paginationUp:active::after {
  font-size: var(--size-pagination-arrow);
}

.paginationDown {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 50%;
}

.paginationDown::after {
  font-size: var(--size-pagination-arrow);
  font-weight: bold;
  content: var(--arrow-down);
}

.paginationDown:hover::after {
  font-size: calc(var(--size-pagination-arrow) * 1.2);
}

.paginationDown:active::after {
  font-size: var(--size-pagination-arrow);
}

.paginationPage {
  align-items: center;
  display: flex;
  justify-content: center;
  border-bottom: var(--border-pagination-page);
  border-radius: 5em/2em;
  border-top: var(--border-pagination-page);
  height: 50%;
  margin: auto;
  user-select: none;
  width: 40%;
}
