@import '../../../../styles/fonts.module';
@import '../../../../styles/colors.module';
@import '../../../../styles/sizes.module';

.templateTooltip {
  font-size: 0.9em;
  font-weight: 800;
  text-transform: capitalize;
  color: var(--item-color-common);
  padding: 0.4em;
}

.labelTooltip {
  margin: 0 0.3em;
}

.valueTooltip {
  margin-left: 0.1em;
}
