@import '../../styles/spacing.module.css';

.craftSettings {
  display: flex;
  justify-content: space-between;
  padding: var(--space-s);
}

.sortButton {
  width: 15%;
}

.inputText {
  width: 55%;
}

.recipesSection {
  display: flex;
  flex-direction: row;
  max-height: 55vh;
}

.recipesListItem {
  display: flex;
  align-items: center;
  padding: var(--space-xs);
}

.recipesListItem:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.recipeNameList {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 var(--space-xs);
}

.recipeNameList > * {
  color: var(--font-color-key-bindings-header);
}

.ingredientCraft {
  display: flex;
  align-items: center;
  margin: var(--space-xs) 0;
}

.itemImg {
  position: relative;
}

.itemCount {
  bottom: 0;
  position: absolute;
  right: 0;
}

.recipeName {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 var(--space-s);
}

.craftIngredients {
  display: flex;
  flex-direction: column;
  flex-basis: 70%;
}

.recipesListWrapper {
  overflow: auto;
  display: flex;
  flex-direction: column;
  flex-basis: 30%;
  border-right: var(--size-border) solid var(--border-color-slot);
}

.recipesList {
  --scrollbarBackgroundColor: rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
}

.ingredientsList {
  display: flex;
  flex-wrap: wrap;
  padding: var(--space-xs);
}

.craftHead {
  display: flex;

  align-items: center;
  padding: var(--space-xs);
  border-bottom: var(--size-border) solid var(--border-color-slot);
}

.craftingCount {
  border-top: var(--size-border) solid var(--border-color-slot);

  margin-top: auto;
  padding: var(--space-s);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.inputCraftCountLabel {
  width: 50%;
  display: flex;
  align-items: center;
}

.inputCraftCount {
  width: 20%;
  font-size: 1em;
  background-color: #000;
  border: 1px solid var(--primary);
  border-radius: 6px;
  padding: var(--space-xxs) 0 var(--space-xxs) var(--space-s);
}

.inputCraftCount::-webkit-inner-spin-button {
  background-color: #ff0;
}

.inputCraftCount:focus {
  outline: none;
}
