@import '../../styles/fonts';
@import '../../styles/colors';
@import '../../styles/sizes';

.content {
  @extend %flex-row;
  align-items: flex-start;
  margin: 1em 2em;
}

.stats {
  width: 15em;
}

.statsInner {
  border-radius: 0.6em;
}

.name {
  text-align: center;
}
