@import '../../styles/fonts';
@import '../../styles/colors';
@import '../../styles/sizes';

@keyframes animate-shine {
  0% {
    opacity: 0;
    width: 0;
  }
  
  50% {
    opacity: 0.4;
  }
  
  100% {
    opacity: 0;
    width: 99%;
  }
}

.content {
  @extend %flex-row;
  align-items: center;
  justify-content: center;
}

.progressBar {
  background-color: $progress-bar-background;
  border-radius: 0.4em;
  height: 1em;
  margin-right: auto;
  padding: 0.2em;
  position: relative;
  width: 100%;
}

.stripe {
  border-radius: 0.3em;
  display: inline-block;
  height: 100%;
  transition: width 0.4s ease-in-out;
}

.mana {
  background: $mana-color;
  position: relative;
}

.mana::after {
  animation: animate-shine 1s ease forwards;
  background: #fff;
  border-radius: 0.4em;
  bottom: 0;
  content: '';
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.labelValue {
  @extend %font-main;
  font-weight: 100;
  left: 50%;
  position: absolute;
}

.percentInfo {
  background-color: $progress-bar-background-percent;
  border-radius: 5px;
  height: 1em;
  margin-left: -1em;
  padding: 0.2em;
  padding-left: 1.2em;
}

.labelPercent {
  @extend %font-main;
  @extend %alignment-text-in-div;
  font-weight: 100;
  height: 100%;
  white-space: nowrap;
}
