@import '../../styles/fonts';
@import '../../styles/colors';
@import '../../styles/sizes';

.contentMenu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1.6em 1.3em;
}
