@import '../../styles/fonts';
@import '../../styles/colors';
@import '../../styles/sizes';

.button {
  background-color: transparentize($primary, 0.3);
  border: $px1 solid transparentize($shadow, 0.5);
  border-radius: $px1*3;
  color: $font-color-main-menu;
  cursor: pointer;
  padding: 0.3em auto;
  text-decoration: none;
  text-shadow:
    -$px1 -$px1 0 $shadow,
    $px1 -$px1 0 $shadow,
    -$px1 $px1 0 $shadow,
    $px1 $px1 0 $shadow;
  text-transform: capitalize;
  transition: all 0.2s ease;
  user-select: none;
}

.button:hover {
  background-color: transparentize($primary, 0.1);
}

.button:active {
  position: relative;
  top: 1px;
}

button:focus {
  outline: 0;
}

.small {
  font-size: 1em;
  font-weight: normal;
  margin: 0;
}

.big {
  font-size: 1.3em;
  font-weight: bold;
  margin: 0.5em;
}
