@import '../../styles/fonts.module';
@import '../../styles/colors.module';
@import '../../styles/sizes.module';

.button {
  background-color: rgba(var(--primaryColorRGB), 0.7);
  border: var(--px1) solid rgba(0, 0, 0, 0.2);
  border-radius: calc(var(--px1) * 3);
  color: var(--font-color-main-menu);
  cursor: pointer;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.2s ease;
  user-select: none;
}

.button:hover {
  background-color: rgba(var(--primaryColorRGB), 0.8);
}

.button:active {
  position: relative;
  top: 1px;
}

button:focus {
  outline: 0;
}

.small {
  font-size: 1em;
  font-weight: normal;
  margin: 0;
}

.big {
  font-size: 1.3em;
  font-weight: bold;
  margin: 0.5em;
}
