@import '../../styles/fonts';
@import '../../styles/colors';
@import '../../styles/sizes';

.button {
  background-color: transparentize($primary, 0.3);
  border: $px1 solid transparentize($background-main-menu, 0.5);
  border-radius: $px1*3;
  box-shadow:
    -0.01em 0.06em 0.06em transparentize($primary, 0.3),
    inset 0 0.01em transparentize($glass, 0.3),
    inset 0 0.06em 0.6em transparentize($glass, 0.3),
    inset 0 -0.2em 1em transparentize($shadow, 0.3);
  color: $font-color-main-menu;
  text-align: center;
  text-shadow:
    -$px1 -$px1 0 $shadow,
    $px1 -$px1 0 $shadow,
    -$px1 $px1 0 $shadow,
    $px1 $px1 0 $shadow;
  text-transform: capitalize;
  transition: all 0.2s ease;
}

.button:hover {
  background-color: transparentize($primary, 0.2);
}

.button:active {
  box-shadow:
    -0.01em 0.06em 0.06em transparentize($shadow, 0.5),
    inset 0 0.01em transparentize($glass, 0.3),
    inset 0 0.06em 0.6em transparentize($glass, 0.3),
    inset 0 -0.2em 1em transparentize($shadow, 0.3);
  transform: translateY(0.05em);
}

button:focus {
  outline: 0;
}

.small {
  font-size: 1em;
  font-weight: normal;
  margin: 0;
}

.big {
  font-size: 1.3em;
  font-weight: bold;
  margin: 0.5em;
}
