@import '../../styles/fonts';
@import '../../styles/colors';
@import '../../styles/sizes';

section {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.mainPanel {
  background: transparentize($primary, 0.15);
  border: 1px ridge transparentize($primary, 0.75);
  border-radius: 10px 10px 0 0;
  bottom: 0;
  box-shadow:
    inset 0 0 10px transparentize($glass, 0.75),
    inset 0 5px 5px transparentize($glass, 0.75);
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  overflow: visible;
  padding: 0.3em;
  pointer-events: all;
  position: fixed;
}

.itemsContainer {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.pagination {
  display: flex;
  flex-direction: row;
  height: $size-pagination;
  margin: auto;
  width: $size-pagination/1.3;
}

.paginationControl {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: auto;
  text-align: center;
  width: 60%;
}

.paginationUp {
  align-items: center;
  display: flex;
  height: 50%;
  justify-content: center;
}

.paginationUp::after {
  content: '\25B2';
  font-size: $size-pagination-arrow;
  font-weight: bold;
  margin: auto;
}

.paginationUp:hover::after {
  font-size: $size-pagination-arrow*1.2;
}

.paginationDown {
  align-items: center;
  display: flex;
  height: 50%;
  justify-content: center;
}

.paginationDown::after {
  content: '\25BC';
  font-size: $size-pagination-arrow;
  font-weight: bold;
}

.paginationDown:hover::after {
  font-size: $size-pagination-arrow*1.2;
}

.paginationPage {
  @extend %font-main;
  align-items: center;
  border-bottom: $border-pagination-page;
  border-radius: 60px/30px;
  border-top: $border-pagination-page;
  display: flex;
  height: 50%;
  justify-content: center;
  margin: auto;
  width: 40%;
}
