.debug {
  position: fixed;
  background: rgba(0,0,0,0.8);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
  bottom: 300px;
  right: 10px;
  width: 250px;
  font-size: 14px;
}
