$primary: #59868a;
$secondary: #cce4cf;
$secondary2: mix($primary, $secondary, 10%);

$shadow: #000;
$glass: #fff;
$background-main-menu: #000;
$font-color-main-menu: #fff;

$success: #0f0;
$warning: #fa0;
$alert: #f00;

$font-color-main: #fff;
$font-color-main-shadow: #000;

$background-color-slot: #05544a;
$border-color-slot: #113436;
$selected-slot: #bccdd6;
$hover-slot: lighten(darken($primary, 10%), 40%);

$border-pagination-page: 0.1em solid $border-color-slot;

$border-key-bindings: 0.4em ridge transparentize($primary, 0.75);
$font-color-key-bindings-header: #ff0;

$border-inventory: 0.15em ridge darken($primary, 0.75);

$input-checkbox: #fff;
$input-checkbox-border: darken($primary, 20%);
