$primary: #59868a;
$secondary: #cce4cf;

$primary-80p: transparentize($primary, 0.2);
$primary-20p: transparentize($primary, 0.8);

$shadow: #000;
$white-shadow: #fff;

$background-main-menu: #000;
$font-color-main-menu: #fff;

$success: #0f0;
$warning: #fa0;
$alert: #f00;

$font-color-main: #fff;
$font-color-main-shadow: #000;

$background-color-slot: #05544a;
$border-color-slot: #113436;
$selected-slot: #bccdd6;
$selected-slot-animated: #1ca7f1;
$hover-slot: lighten(darken($primary, 10%), 40%);

$border-pagination-page: 0.1em solid $border-color-slot;

$border-key-bindings: 0.4em ridge $primary-20p;
$font-color-key-bindings-header: #e2e200;

$border-inventory: 0.15em ridge darken($primary, 0.75);

$input-checkbox: #fff;
$input-checkbox-border: darken($primary, 20%);

$item-color-common: #e9e9e9;
$item-color-uncommon: #219b44;
$item-color-rare: #4f92d1;

@mixin tooltip-border($color) {
  border: 0.1em groove $color;
  box-shadow: inset 0 0.3em 0.4em transparentize($color, 0.75);
}

$full-hp-color: #0f9b02;
$low-hp-color: #9b0202;
$mana-color: #00f;

$progress-bar-background: #1a1a1a;
