@import './colors.module.css';

.fontMain {
  color: var(--font-color-main);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-shadow: -1px 0 1px var(--font-color-main-shadow), 0 1px 1px var(--font-color-main-shadow),
    1px 0 1px var(--font-color-main-shadow), 0 -1px 1px var(--font-color-main-shadow);
}
