$size-slot: 4em;

$size-pagination: $size-slot/1.125;
$size-pagination-arrow: $size-slot/2.7;

$size-border: $size-slot/18;

$size-of-shadow: 0.9em;
$size-of-shadow-main-menu: 1em;

$px1: 0.06em;

$size-of-corner: 0.6em;
$sqrt2: 1.41421356237;
$size-of-half-corner: $size-of-corner/$sqrt2;

%size-img {
  height: $size-slot;
  width: $size-slot;
}

%slot-style {
  @extend %font-main;
  @extend %size-img;
  background-color: transparentize($background-color-slot, 0.6);
  border: $size-border solid $border-color-slot;
  border-radius: 0.7em;
  font-size: 0.8em;
  margin: 0.1em -0.11em;
}

%alignment {
  @extend %flex-column;
  align-items: center;
  bottom: 9em;
  cursor: default;
  justify-content: center;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
}

%inventory {
  background: transparentize(darken($primary, 10%), 0.1);
  box-shadow:
    inset 0 0 $size-of-shadow transparentize($white-shadow, 0.75),
    inset 0 $size-of-shadow $size-of-shadow transparentize($white-shadow, 0.75);
}

%flex-row {
  display: flex;
  flex-direction: row;
}

%flex-column {
  display: flex;
  flex-direction: column;
}

%footer-flex {
  @extend %flex-row;
  border-top: $border-key-bindings;
  padding: 0.5em;
}

%footer-buttons {
  flex: 0 1 30%;
  margin: 0 0.1em;
}

%footer-buttons-label {
  flex: 0 1 15%;
}

%grid-main-menu {
  display: grid;
  grid-template-areas:
    ' header '
    ' mainContent '
    ' helpline '
    ' footer ';
  grid-template-rows:
    [main-start] 3em
    [content-start] auto [content-end] 
    2em [helpLine-end]
    3em [main-end];
  height: 25em;
  padding: 1.5em 0.3em 0.1em;
  width: 30em;
}

%alignment-text-in-div {
  align-items: center;
  display: flex;
  justify-content: center;
}
