$space-unit: 1em;
$space-xxs: 0.25 * $space-unit;
$space-xs: 0.5 * $space-unit;
$space-s: 0.75 * $space-unit;
$space-m: 1.25 * $space-unit;
$space-l: 2 * $space-unit;
$space-xl: 3.25 * $space-unit;
$space-xxl: 5.25 * $space-unit;
