@import '../../../../styles/fonts.module';
@import '../../../../styles/colors.module';
@import '../../../../styles/sizes.module';

.descriptionTooltip {
  font-size: 0.7em;
  font-weight: 200;
  text-align: justify;
  color: #bccdd6;
  padding: 0.3em 0.7em;
}

.gridArea {
  grid-area: description;
}
