@import '../../styles/fonts.module.css';
@import '../../styles/colors.module.css';
@import '../../styles/sizes.module.css';

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 1.6em 1.3em;
  width: 20em;
}
