@import '../../styles/fonts.module';
@import '../../styles/colors.module';
@import '../../styles/sizes.module';

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 1.6em 1.3em;
  width: 20em;
}
