@import '../../styles/fonts.module.css';
@import '../../styles/colors.module.css';
@import '../../styles/sizes.module.css';

.select {
  background-color: var(--primary-80p);
  border: 0;
  border-bottom: 2px solid var(--primary);
  border-radius: 0;
  font-size: 1em;
  font-weight: bold;
  letter-spacing: 0.1em;
  padding: 0.25em;
  width: 100%;

  &:focus,
  &:active {
    outline: 0;
  }
}
