@import '../../styles/fonts';
@import '../../styles/colors';
@import '../../styles/sizes';


.select {
  background-color: $primary-80p;
  border: 0;
  border-bottom: 2px solid $primary;
  border-radius: 0;
  font-size: 1em;
  font-weight: bold;
  letter-spacing: 0.1em;
  margin-bottom: 1em;
  padding: 0.25em;
  width: 75%;

  &:focus,
  &:active {
    outline: 0;
  }
}

