@import '../../styles/fonts.module.css';
@import '../../styles/colors.module.css';
@import '../../styles/sizes.module.css';

.input {
  width: 100%;
  padding: var(--space-xs) var(--space-s);
  font-size: 1em;
  border-radius: 6px;
  background-color: #000;
  border: 1px solid var(--primary);
  transition: border 0.3s ease;
}

.input::placeholder {
  color: #cbd1dc;
  text-shadow: none;
}

.input:focus {
  outline: none;
  border-color: #113436;
}

.formInputText {
  position: relative;
  display: flex;
  width: 100%;
}
