$primary: #59868a;
$secondary: #e3b891;

$shadow: #000;
$glass: #fff;
$background-main-menu: #000;

$success: #0f0;
$warning: #fa0;
$alert: #f00;

$font-color-main: #fff;
$font-color-main-shadow: #000;

$background-color-slot: #05544a6b;
$border-color-slot: #113436;
$selected-slot: #fff8ca;
$hover-slot: #fff3a7;

$border-pagination-page: 1px solid $border-color-slot;
