@import '../../styles/fonts.module.css';
@import '../../styles/colors.module.css';
@import '../../styles/sizes.module.css';

.header {
  border-bottom: var(--border-key-bindings);
  grid-area: header;
  user-select: none;
}

.commandGroup {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0.5em;
}

.labelCommandGroup {
  color: var(--font-color-main);
}

.section {
  grid-area: mainContent;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: var(--primary) transparent;
}

.section::-webkit-scrollbar {
  width: 0.8em;
}

.section::-webkit-scrollbar-track {
  border-radius: 1em;
}

.section::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 1em;
}

.command {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  margin: 0.3em 0;
}

.command > * {
  flex: 0 1 33%;
  margin: 0 0.1em;
}

.label,
.labelFirst {
  color: var(--font-color-key-bindings-header);
}

.labelFirst {
  padding: 0 1em;
  text-align: left;
}

.helpLine {
  align-items: center;
  display: flex;
  justify-content: center;
  border-top: var(--border-key-bindings);
  grid-area: helpline;
  user-select: none;
}
