@import '../../styles/fonts';
@import '../../styles/colors';
@import '../../styles/sizes';

.content {
  @extend %grid-main-menu;
  width: 40em;
}

.header {
  border-bottom: $border-key-bindings;
  grid-area: header;
  user-select: none;
}

.commandGroup {
  @extend %flex-row;
  justify-content: flex-start;
  padding: 0.5em;
}

.labelCommandGroup {
  color: $font-color-main;
}

.section {
  grid-area: mainContent;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: $primary transparent;
}

.section::-webkit-scrollbar {
  width: 0.8em;
}

.section::-webkit-scrollbar-track {
  border-radius: 1em;
}

.section::-webkit-scrollbar-thumb {
  background: $primary;
  border-radius: 1em;
}

.command {
  @extend %flex-row;
  align-items: flex-end;
  justify-content: center;
  margin: 0.3em 0;
}

.command > * {
  flex: 0 1 33%;
  margin: 0 0.1em;
}

.label,
.labelFirst {
  color: $font-color-key-bindings-header;
}

.labelFirst {
  padding: 0 1em;
  text-align: left;
}

.helpLine {
  @extend %alignment-text-in-div;
  border-top: $border-key-bindings;
  grid-area: helpline;
  user-select: none;
}

.footerButtons {
  @extend %footer-flex;
  grid-area: footer;
}

.footerButtons > * {
  @extend %footer-buttons;
}

.footerButtons > .label {
  @extend %footer-buttons-label;
}
