@import '../../styles/fonts.module';
@import '../../styles/colors.module';
@import '../../styles/sizes.module';

.label {
  text-align: center;
  text-transform: capitalize;
}

.small {
  font-size: 1em;
}

.big {
  font-size: 1.2em;
}
