@import '../../styles/fonts.module.css';
@import '../../styles/colors.module.css';
@import '../../styles/sizes.module.css';

.label {
  text-align: center;
  text-transform: capitalize;
}

.small {
  font-size: 1em;
}

.big {
  font-size: 1.2em;
}
