@import '../../styles/fonts';
@import '../../styles/colors';
@import '../../styles/sizes';

.label {
  @extend %font-main;
  text-align: center;
  text-transform: capitalize;
}

.small {
  font-size: 1em;
}

.big {
  font-size: 1.2em;
}
