@import '../../styles/fonts.module';
@import '../../styles/sizes.module';

.footerButtons {
  display: flex;
  flex-direction: row;
  border-top: var(--border-key-bindings);
  padding: 0.5em;

  grid-area: footer;
}

.footerButtons > * {
  flex: 0 1 30%;
  margin: 0 0.1em;
}

.footerButtons > .label {
  flex: 0 1 15%;
}
