html,
body {
    height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overflow: hidden;

}

#glcanvas {
  width: 100%;
  height: 100%;
}

#root {
  width: 100%;
  height: 100%;
}

#root > div {
  width: 100%;
  height: 100%;
}
