@import '../../styles/fonts.module.css';
@import '../../styles/colors.module.css';
@import '../../styles/sizes.module.css';

.checkboxLabel {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.checkbox {
  appearance: none;
  background-color: transparent;
  border: 0.1em solid var(--input-checkbox-border);
  border-radius: 0.1em;
  display: inline-block;
  outline: 0;
  position: relative;
}

.checkbox:checked {
  background-color: var(--primary);
}

.checkbox:checked::after {
  text-shadow: -2px 0 1px var(--font-color-main-shadow), 0 2px 1px var(--font-color-main-shadow),
    2px 0 1px var(--font-color-main-shadow), 0 -2px 1px var(--font-color-main-shadow);

  color: var(--input-checkbox);
  content: '🗸';
  font-weight: bold;
  left: 0.1em;
  position: absolute;
}

.big {
  padding: 1em;
}

.small {
  padding: 0.7em;
}

.big:checked::after {
  font-size: 2em;
  top: 0;
}

.small:checked::after {
  font-size: 1.3em;
  top: 0.1em;
}

.checkboxName {
  align-self: center;
  margin-left: 0.3em;
  user-select: none;
}
