@import '../../../../styles/fonts';
@import '../../../../styles/colors';
@import '../../../../styles/sizes';

.gridArea {
  @extend %tooltip-font-name;
  align-items: center;
  display: flex;
  grid-area: name;
  padding: 0 0.5em;
}
