@import '../../../../styles/fonts.module';
@import '../../../../styles/colors.module';
@import '../../../../styles/sizes.module';

.gridArea {
  font-size: 1.1em;
  font-weight: 800;
  text-transform: capitalize;
  align-items: center;
  display: flex;
  grid-area: name;
  padding: 0 0.5em;
}
