@import '../../styles/fonts.module.css';
@import '../../styles/sizes.module.css';

.content {
  display: grid;
  grid-template-areas:
    ' header '
    ' mainContent '
    ' helpline '
    ' footer ';
  grid-template-rows:
    [main-start] 3em
    [content-start] auto [content-end]
    2em [helpLine-end]
    3em [main-end];
  height: 25em;
  padding: 0.5em 0.3em 0.1em;
  width: 40em;
}
