@import '../../styles/fonts';
@import '../../styles/colors';
@import '../../styles/sizes';

.wrapper {
  @extend %alignment;
}

.inner {
  @extend %flex-column;
  background: transparentize(lighten($primary, 10%), 0.15);
  border: 0.1em ridge $primary-20p;
  justify-content: space-around;
  pointer-events: all;
  width: 39em;
}

.header {
  @extend %inventory;
  @extend %flex-row;
  border-bottom: $border-inventory;
  flex: 1 1 1.5em;
  justify-content: flex-end;
  user-select: none;
}

.inventoryName {
  margin: 0.2em auto;
}

.buttonClose {
  background-color: transparentize($alert, 0.5);
  font-size: 1.1em;
  margin: 0;
  width: 1.5em;
}

.buttonClose:hover {
  background-color: transparentize($alert, 0.3);
}
