@import '../../styles/fonts.module.css';
@import '../../styles/colors.module.css';
@import '../../styles/sizes.module.css';

.wrapper {
  z-index: 999;
}

.inner {
  display: flex;
  flex-direction: column;
  background: var(--primary);
  border: 0.1em ridge var(--primary-20p);
  justify-content: space-around;
  pointer-events: all;
  width: 39em;
}

.header {
  background: var(--primary);
  box-shadow: inset 0 0 var(--size-of-shadow) rgba(255, 255, 255, 0.75),
    inset 0 var(--size-of-shadow) var(--size-of-shadow) rgba(255, 255, 255, 0.75);
  display: flex;
  flex-direction: row;
  border-bottom: var(--border-inventory);
  flex: 1 1 1.5em;
  justify-content: flex-end;
  user-select: none;
}

.inventoryName {
  margin: 0.2em auto;
}

.buttonClose {
  background-color: var(--alert);
  font-size: 1.1em;
  margin: 0;
  width: 1.5em;
}

.buttonClose:hover {
  background-color: var(--alert);
}
