@import '../../styles/fonts.module.css';
@import '../../styles/colors.module.css';
@import '../../styles/sizes.module.css';

.wrapper {
  z-index: 999;
}

.inner {
  display: flex;
  flex-direction: column;
  /* background: var(--primary); */
  background: var(--background-main-menu-transparent);
  border: 0.2em ridge var(--primary-20p);
  box-shadow: inset 0 0 calc(var(--size-of-shadow-main-menu) / 5)
    calc(var(--size-of-shadow-main-menu) / 5) rgba(255, 255, 255, 0.75);
  justify-content: space-around;
  pointer-events: all;
  width: 39em;
}

.header {
  display: flex;
  flex-direction: row;
  /* border-bottom: var(--border-inventory); */
  flex: 1 1 1.5em;
  justify-content: flex-end;
  user-select: none;
}

.inventoryName {
  display: flex;
  align-items: center;
  justify-content: center;

  background: var(--background-main-menu-transparent);
  border-bottom: 0.1em ridge var(--primary-20p);
  box-shadow: inset 0 0 calc(var(--size-of-shadow-main-menu) / 5)
    calc(var(--size-of-shadow-main-menu) / 5) rgba(255, 255, 255, 0.75);
  width: 100%;
}

.buttonClose {
  background-color: var(--alert);
  font-size: 1.1em;
  margin: 0;
  border-radius: none;
}

.buttonClose:hover {
  background-color: var(--alert);
  box-shadow: inset 0 0 0.3em rgba(0, 0, 0, 50%);
}

.mainSection {
  background: var(--background-main-menu-transparent);
  box-shadow: inset 0 0 calc(var(--size-of-shadow-main-menu) / 5)
    calc(var(--size-of-shadow-main-menu) / 5) rgba(255, 255, 255, 0.75);
}
