@import '../../styles/fonts.module';
@import '../../styles/colors.module';
@import '../../styles/sizes.module';

.toolTipGrid {
  background: var(--background-main-menu-transparent);
  border-radius: 0.2em;
  display: grid;
  grid-template-areas:
    '. name name image .'
    '. damage damage damage .'
    '. attackSpeed attackSpeed attackSpeed .'
    'description description description description description';
  grid-template-columns: 0.9em 1.5fr 1.5fr 2fr 0.9em;
  padding: 0.2em 0;
  width: 15em;
}

.common {
  border: 0.1em groove var(--item-color-common);
  box-shadow: inset 0 0.3em 0.4em var(--item-color-common-shadow);
}

.uncommon {
  border: 0.1em groove var(--item-color-uncommon);
  box-shadow: inset 0 0.3em 0.4em var(--item-color-uncommon-shadow);
}

.rare {
  border: 0.1em groove var(--item-color-rare);
  box-shadow: inset 0 0.3em 0.4em var(--item-color-rare-shadow);
}
