@import '../../styles/fonts';
@import '../../styles/colors';
@import '../../styles/sizes';

.toolTipGrid {
  background: transparentize($background-main-menu, 0.1);
  border-radius: 0.2em;
  display: grid;
  grid-template-areas:
    '. name name image .'
    '. damage damage damage .'
    '. attackSpeed attackSpeed attackSpeed .'
    'description description description description description';
  grid-template-columns: 0.9em 1.5fr 1.5fr 2fr 0.9em;
  padding: 0.2em 0;
  width: 15em;
}

.common {
  @include tooltip-border($item-color-common);
}

.uncommon {
  @include tooltip-border($item-color-uncommon);
}

.rare {
  @include tooltip-border($item-color-rare);
}

