@import '../../styles/fonts';
@import '../../styles/colors';
@import '../../styles/sizes';

%size-img {
  height: $size-slot;
  width: $size-slot;
}

.slot {
  @extend %slot-style;
  list-style-type: none;
}

.slotInner {
  background-size: 100%;
  border-radius: 0.5em;
  height: 100%;
  position: relative;
}

.slotItemCount {
  bottom: 0;
  position: absolute;
  right: 0;
  user-select: none;
}

.selectedSlot {
  .slotInner {
    box-shadow: $selected-slot 0 0 $size-of-shadow $size-of-shadow/3 inset, $selected-slot 0 0 $size-of-shadow/3 0;
  }
}

.slotInner:hover {
  box-shadow: $hover-slot 0 0 $size-of-shadow/2 $size-of-shadow/4 inset;
}

.slotItem {
  height: 100%;
}

.imageDiamond {
  background-image: url('/items/diamond.png');
}

.imageIronIngot {
  background-image: url('/items/iron_ingot.png');
}

.dragging {
  cursor: move;
  opacity: 0.5;
}

.dragOver {
  box-shadow: inset 0 0 15px 0 rgba(60, 60, 60, 1);
}

@mixin keyframes($scale) {
  @keyframes countChangeAnimation {
    0% { transform: scale(1); }
    50% { transform: scale($scale); }
    100% { transform: scale(1); }
  }
}

.animateIncrease {
  @include keyframes(1.2);
  animation: countChangeAnimation 200ms ease-in-out;
}

.animateDecrease {
  @include keyframes(0.8);
  animation: countChangeAnimation 200ms ease-in-out;
}
