@import '../../styles/fonts.module.css';
@import '../../styles/colors.module.css';
@import '../../styles/sizes.module.css';

@keyframes selectedSlotAnimation {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.slot {
  list-style-type: none;
}

.slotInner {
  border-radius: 0.5em;
  height: 100%;
  position: relative;
}

.slotItemCount {
  bottom: 0;
  position: absolute;
  right: 0;
  user-select: none;
}

.slotStyleClass {
  height: var(--size-slot);
  width: var(--size-slot);
  background-color: var(--background-color-slot);
  border: var(--size-border) solid var(--border-color-slot);
  border-radius: 0.7em;
  font-size: 0.8em;
  margin: 0.1em -0.1em;
}

.selectedSlot .slotInner {
  box-shadow: var(--selected-slot) 0 0 var(--size-of-shadow) calc(var(--size-of-shadow) / 3) inset,
    var(--selected-slot) 0 0 calc(var(--size-of-shadow) / 3) 0;
}

.selectedSlot .slotInner::after {
  animation: selectedSlotAnimation 600ms ease forwards;
  border-radius: 0.5em;
  box-shadow: var(--selected-slot-animated) 0 0 calc(var(--size-of-shadow) * 3)
    calc(var(--size-of-shadow) / 3) inset;
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.slotInner:hover {
  box-shadow: var(--selected-slot) 0 0 calc(var(--size-of-shadow) / 2)
    calc(var(--size-of-shadow) / 4) inset;
}

.slotItem {
  background-size: 100%;
  height: 100%;
}

.dragging {
  cursor: move;
  opacity: 0.5;
}

.dragOver {
  box-shadow: inset 0 0 15px 0 rgba(60, 60, 60, 1);
}

@keyframes IncreaseChangeAnimation {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes DecreaseChangeAnimation {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.8);
  }

  100% {
    transform: scale(1);
  }
}

.animateIncrease {
  animation: IncreaseChangeAnimation 200ms ease-in-out;
}

.animateDecrease {
  animation: DecreaseChangeAnimation 200ms ease-in-out;
}
