@import '../../styles/fonts';
@import '../../styles/colors';
@import '../../styles/sizes';

%size-img {
  height: $size-slot;
  width: $size-slot;
}

.slot {
  @extend %slot-style;
}

.slotItem {
  background-size: 100%;
  border-radius: 0.5em;
  height: 100%;
  position: relative;
}

.slotItemCount {
  bottom: 0;
  position: absolute;
  right: 0;
  user-select: none;
}

.selectedSlot {
  .slotItem {
    box-shadow: $selected-slot 0 0 $size-of-shadow $size-of-shadow/3 inset, $selected-slot 0 0 $size-of-shadow/3 0;
  }
}

.slotItem:hover {
  box-shadow: $hover-slot 0 0 $size-of-shadow/2 $size-of-shadow/4 inset;
}

.imageDiamond {
  background-image: url('/items/diamond.png');
}

.imageIronIngot {
  background-image: url('/items/iron_ingot.png');
}
